<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portifolio</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Rogério Galdino</h1>
        <p>Desenvolvedor de Software | Entusiasta de Tecnologia</p>
    </header>
    <section id="habilidades">
        <h2> habilidades</h2>
        <ul>
            <li>Python</li>
            <li>JavaScript</li>
            <li>Html & Css</li>
            <li>Desenvolvimento Web</li>
        </ul>
    </section>

    <section id="Projetos">
        <h2>Projetos</h2>
        <div class="projeto">
            <h3>Projeto 1: nome do projeto</h3>
            <p>Descrição Breve do Projeto. O que você fez e quais Tecnologia utilizou</p>
            <a href="https://link-do-projeto.com"target="_blank">Veja o projeto</a>
        </div>
        <div class="projeto">
            <h3>Projeto 2: nome do projeto</h3>
            <p>Descrição Breve do Projeto. O que você fez e quais Tecnologia utilizou</p>
            <a href="https://link-do-projeto.com"target="_blank">Veja o projeto</a>
        </div>
    </section>

    <section id="contato">
        <h2> Contato </h2>
        <p>Email: galdinogomesr@gmail.com</p>
        <p>Linkedin: <a href="https://www.linkedin.com/in/rogerio-gomes-173134353?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">Clique aqui</a></p>
    </section>

    <footer>
        <p>&copy; 2024 Ro.dev. Todos os direitos reservados</p>
    </footer>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>